@model UMS.Quiz.DomainModels.Knowledges
@{
}
<div class="box box-primary  shadow-lg p-3 mb-5 rounded">
    <div class="box-body">
        @* <h1 class="m-0 pt-3 fs-4 fw-normal border-bottom"> Xóa khối kiến thức</h1> *@
        <form action="~/Knowledges/Delete/@Model.KnowledgeId" method="post">
            @* <input type="hidden" name="id" value="@Model.KnowledgeId" /> *@
            <div class="form-group py-2">
                <label for="recipient-name" class="col-form-label fs-5">Học phần</label>
                <!-- UX "tồi" => Nên thay bằng radio hoặc checkbox -->
                <select class="form-control" name="category" id="categorySelect" disabled>
                    <option id="_studyModuleName"></option>
                    @* @Html.ValidationMessage(nameof(Model.TermID), new { @style = "color:#f00" }) *@
                </select>
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label fs-5">Nhập tên khối kiến thức:</label>
                <input type="text" class="form-control" id="recipient-name" name="KnowledgeName" value="@Model.KnowledgeName" disabled>

                @* <input type="text" class="form-control" id="recipient-name"> *@
                @* @Html.ValidationMessage(nameof(Model.KnowledgeName), new { @style = "color:#f00" }) *@
            </div>
            <div class="form-group py-2">
                @if (UMS.Quiz.BusinessLayers.CommonDataService.IsUsedKnowledges(Model.KnowledgeId))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-floppy-o"></i> Xóa
                    </button>
                }
                <a href="~/Knowledges/Index" class="btn btn-light">
                    Quay lại
                </a>
            </div>
        </form>

    </div>
</div>
