<header class="">
    <nav class="navbar navbar-expand-lg bg-husc py-1">

        <div class="collapse navbar-collapse " id="navbarSupportedContent $ ">
            <ul class="navbar-nav me-auto  mb-lg-0 d-flex  px-5">
                <li class="nav-item  ">
                    <a href="~/Home/Index" class="nav-link text-body font-weight-bold px-0"1 >
                        <img src="~/img/dhkh-1.png" alt="Alternate Text" class="icon-header-dhkh ms-1" />
                        <span class="d-sm-inline d-none font-weight-bold text-light">Lecturers</span>
                    </a>
                </li>

                <li class="nav-item dropdown ms-2 pe-1  border border-bottom-0 border-top-0 ">
                    <a class="nav-link dropdown-toggle font-weight-bold text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Các tác vụ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item " href="~/Knowledges/Index">Quản lý khối kiến thức</a></li>
                        <li><a class="dropdown-item" href="~/Quizzes/Index">Quản lý thư viện trắc nghiệm</a></li>
                        <li><a class="dropdown-item" href="~/TopicTemplates/Index">Quản lý cấu trúc đề</a></li>
                        <li><a class="dropdown-item" href="~/Exam/Index">Quản lý đề thi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pe-1 border border-bottom-0 border-top-0 border-start-0">
                    <a class="nav-link dropdown-toggle font-weight-bold  text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="~/ExamCandidates/Index">Quản lý tổ chức thi</a></li>
                    </ul>
                </li>
                <li class="nav-item pe-1 border border-bottom-0 border-top-0 border-start-0">
                    <a class="nav-link font-weight-bold  text-light" href="~/Student/Index">
                        Sinh viên
                    </a>
                    
                </li>
            </ul>
            <ul class="navbar-nav px-5">
                <li class="nav-item ">
                    <a href="~/Account/Logout" class="nav-link font-weight-bold px-0 text-light">
                        <i class="icon-person bi bi-person-fill"></i>
                        <span class="d-sm-inline d-none ">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</header>