<footer class="border-top footer text-muted" style="max-height: 40px">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-around">
            <div class="col-lg-6 mb-lg-0   px-5">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    made with <i class="bi bi-heart-fill"></i> by
                    <a href="https://www.facebook.com/truongcao2012" class="fw-bold text-muted text-decoration-none" target="_blank">Pepper</a>
                    for a better web.
                </div>
            </div>
            <div class="col-lg-6  px-5">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/truongcao2012" class="nav-link text-muted" target="_blank">Pepper</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/truongcaolop3" class="nav-link text-muted" target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/pepper_20_12/" class="nav-link text-muted"
                           target="_blank">Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link pe-0 text-muted"
                           target="_blank">Tiktok</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

