@{
}
<div class="box box-primary  shadow-lg p-3 mb-4 rounded">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm -->
        <form id="formSearch" action="#">
            <div class="container-fluid row p-0">
                <div class="col-sm-2">
                    <label for="recipient-name" class="col-form-label fs-5">Học phần:</label>
                    <select class="form-control" id="mySelect" overflow-y: scroll; name="category" disabled>
                        <option>Toán</option>
                        <option>Lý</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="recipient-name" class="col-form-label fs-5">Trạng thái:</label>
                    <select class="form-control" id="mySelect" overflow-y: scroll; name="category">
                        <option>Đã cho phép sử dụng</option>
                        <option>Không cho phép sử dụng</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="recipient-name" class="col-form-label fs-5">Thời gian thi:</label>
                    <select class="form-control" id="mySelect" overflow-y: scroll; name="category">
                        <option>-- Thời gian thi --</option>
                        <option>15</option>
                        <option>45</option>
                        <option>60</option>
                        <option>90</option>
                        <option>120</option>
                    </select>
                </div>
                <div class=" col-sm-6">
                    <label for="recipient-name" class="col-form-label fs-5 d-block">Tìm kiếm:</label>
                    <div class="d-flex align-items-center">
                        <input name="searchValue" type="text" class="form-control"
                               placeholder="Nội dung cần tìm kiếm">
                        <div class="d-flex align-items-end justify-content-start">
                            <button class="btn btn-info" type="submit">
                                <i class="bi bi-search"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Hiển thị kết quả tìm kiếm -->
        <div>
            <p style="margin:10px 0 10px 0">
                Có <strong>1,024</strong> khối kiến thức trong tổng số <strong>100</strong> trang
            </p>

            <div class="table-responsive">
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr class="bg-light ">
                            <th>Tên đề thi</th>
                            <th>Tên cấu trúc đề</th>
                            <th>Thời gian thi</th>
                            <th>Câu hỏi</th>
                            <th style="width:100px">Trạng thái</th>
                            <th style="width:160px " class="text-center">
                                @* <a href="~/TopicTemplates/Create" class="btn btn-success " style="padding: 1px 6px; font-size: 20px">
                                <i class="bi bi-plus-lg"></i>
                                </a> *@
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <tr>
                                <td>Tên đề thi</td>
                                <td>Tên cấu trúc đề</td>
                                <td>45 phút</td>
                                <td>50</td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-xs btn-secondary">
                                        <i class="bi bi-unlock-fill"></i>
                                    </a>
                                    @*   <a href="~/Exam/status" class="btn btn-xs btn-secondary">
                                <i class="bi bi-lock-fill"></i>
                                </a> *@
                                </td>
                                <td class="text-center">
                                    <a href="~/Exam/Delete" class="btn btn-xs btn-danger delete-Exam">
                                        <i class="bi bi-x-circle-fill"></i>
                                    </a>
                                    <a href="~/Exam/DetailExam" class="btn btn-info ">
                                        <i class="bi bi-book"></i>
                                    </a>
                                    <a href="~/Exam/DetailExamAnswer" class="btn btn-outline-info ">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example ">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('.delete-Exam').on('click', function () {
                return confirmDelete();
            });

            function confirmDelete() {
                return window.confirm('Bạn chắc chắn muốn xoá bộ đề thi này?');
            }
        });

    </script>
}