@model UMS.Quiz.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý thư viện trắc nghiệm";
}
<div class="box box-primary  shadow-lg p-3 mb-5 rounded">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm -->
        <form id="formSearch" action="#">
           <div class="container-fluid row p-0">
                <div class="col-sm-5">
                    <label for="recipient-name" class="col-form-label fs-5">Học phần:</label>
                    <select class="form-control" id="mySelect" overflow-y: scroll; name="Terms" disabled>
                        <option id="_studyModuleName" name="TermName"></option>
                    </select>
                </div>
                <div class=" col-sm-7">
                    <label for="recipient-name" class="col-form-label fs-5 d-block">Tìm kiếm (khối kiến thức và học phần):</label>
                    <div class="d-flex align-items-center">
                        <input name="searchValue" type="text" class="form-control"
                               placeholder="Nội dung cần tìm kiếm">
                        <div class="d-flex align-items-end justify-content-start">
                            <button class="btn btn-info" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                    
                        </div>
                    </div>
                </div>

            </div>

        </form>

        <!-- Hiển thị kết quả tìm kiếm -->
        <div>
            <p style="margin:10px 0 10px 0">
                Có <strong>1,024</strong> khối kiến thức trong tổng số <strong>100</strong> trang
            </p>

            <div class="table-responsive">
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr class="bg-light">
                            <th style="width:30px">STT</th>
                            <th>Tên học phần</th>
                            <th>Tên khối kiến thức</th>
                            <th>Câu hỏi</th>
                            <th style="width:60px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>Toán Cao cấp</td>
                                <td>Tập hợp và ánh xạ</td>
                                <td style="pointer-events: none; color: #999; ">
                                    null
                                </td>
                                <td class="text-center">
                                    
                                    <a href="~/Quizzes/QuizDetail" class="btn btn-xs btn-secondary">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example ">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>